<a href="https://colab.research.google.com/github/1cali/1cali/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
 x = 7
 y = 3
 z = x + y
 print (z)

10

#Arithmetic operations
Addition +
Substraction -
Multiplication *
Exponentiation ** e.g $x^y$
True division //
Floor division //
Remainder (modulo) %

In [6]:
9 ** (1/2)

3.0

In [7]:
 import math
 math .sqrt(9)

3.0

In [8]:
# True division
print (11/2)

5.5

## Exception and Tracebacks

In [11]:
13 // 0

ZeroDivisionError: integer division or modulo by zero

# Reminder operator

In [12]:
17 % 5

2

## Grouping Expression with parenthisis

In [13]:
10 * (5+3)

80

## operator Precidence Rules
Parenthesis
Exponetiation
Multiplacation, Division and Modulus
Addition and substraction

In [14]:
3 * (4-5)

-3

In [15]:
3 * 4-5

7

In [17]:
(((3**2)**3)**2)

531441

# Function'print' and an intro to single and double qouted strings

In [20]:
print ('welcome to python programmin')

welcome to python programmin

Printing a comma-separated list of items

In [21]:
print('welcome', 'to', 'python!')

welcome to python!

## printing many lines of text with one statement
use backslash (\\) --- Escape character
'\n' --- newline character
'\t'--- new tab

In [22]:
print ('welcome \nto \python!')
print('weta said,\"python is great\"')

welcome
to \python!
weta said,"python is great"

In [23]:
name = input("what is your name ?")

what is your name ?Caleb

In [24]:
name

'Caleb'

In [25]:
print(name)

Caleb

In [33]:
height1 = int(input("Enter height for user1"))
height2= int(input("Enter height for user2"))
height3= int(input("Enter height for user3"))
Average = (height1 + height2 + height3)//3
print(Average)

Enter height for user1120
Enter height for user2140
Enter height for user3100
120